body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.mainwealth-page{

    width:100%;
    height: 100vh;
    display:flex;
    gap:30px;
    justify-content: left;
    flex-wrap: nowrap; 
    background-color: #fbfbfb;
    /* position:relative; */
}

.sidebar {
    width: 8rem;
    height: 100vh;
    left:0;
    flex:1;
    position: fixed;
    background-color: #eee;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navigation {
    position: relative;
    margin-left:8rem;
    /* margin-left:7rem; */
    width: 300px;
    height:100vh;
    align-items: flex-start;
    background-color: rgba(0,0,0,1.0);
    display: flex;
    flex-direction: column;
    /* padding:26px 15px; */
    row-gap:100px;
    justify-content: top;
    align-items: center;
    left:-500px;
    transition:0.2s;
    opacity: 0;
    pointer-events: none;

}


.active.navigation{
    opacity:1;
    left:0px;
    pointer-events:fill;
}

/* GREY BAR */
.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.active .line-1{
    transform:translate(0px,0.8rem)rotate(45deg);
}
.active .line-2{
    opacity: 0;
}
.active .line-3{
    transform:translate(0px,-0.8rem)rotate(-45deg);
}


/* PRUMANAGE MAIN PAGE ICON */

.navigation-header{
    padding-top:20px;
}
.prumanage-icon{
    height:28px;
    object-fit: cover;
    width:28px;
}

.pru-manage{
    position: relative;
    color:#fff;
    justify-content: space-between; 
    font-family: 'Open Sans';
    font-size:28px;
}

.navigation-header a{
    text-decoration: none;   
    align-items:flex-start;
    display:flex;
    flex-direction: row;
    gap:30px;
    height:36px;
    margin-left:10px;
    /* min-width:175px; */
}

/* SUBLINK */
.navigation-list {
    /* list-style: none; */
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
    display:flex;
    /* justify-content: flex-start; */
    column-gap: 30px;
    padding:10px 40px;
    cursor: pointer;
    align-self:flex-start;
    
}

.navigation-link {
    display:block;
    /* align-items: left; */
 
}

.navigation-item a{
    color:white;
    font-family: 'Open Sans';
    font-size: 25px;
    text-decoration: none;
    /* align-items: left; */
    /* margin-left: 30px; */
    
}
.navigation-item:hover,.navigation-link:hover {
    background-color: #eee;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}   


.navigation-item a:hover {
    /* display:block; */
    color: rgb(0, 0, 0);
   
}
.x-icon1,.x-icon2,.x-icon3,.x-icon4{
    object-fit:cover;
    width:31px;
    align-items:left;
}

/* Get MyWealth page attributes */
.mywealth-page{
    position: relative;
    left:-19rem;
    width:100wh;
    height:100%;
    padding:20px;
    transition:0.5s;
    display:flex;
    gap: 10px;

}

.mainpage{
    /* order:0; */
    flex:2;
    gap:20px;
}

.column{
    flex:1;
}

.mywealth-title{
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size: 30px;
    top:0;

}

.mywealthsubparagraph{
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size:20px;
    top:62px;

}

 .total-asset{
    text-align: left;
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size: xx-large;
    font-weight:700;
    
    min-height: 43px;
    margin-left:20px;
    margin-top:20px;
}

.buttongroup{

    display:flex;
    flex-direction: row;

    
}

input[type="file"] {
    display: none;
  }

.file-label{
    display: flex;
    padding: 5px 20px;
    background-color:rgb(241, 31, 31);
    color: white;
    font-size: 14px;
    cursor: pointer;
    width:80px;
    height:25px;
    border-radius: 5px;
    border: none;
    text-align: center;
    align-items: center;
    align-self:flex-end;
    transition: all .4s ease-in-out;

}

.file-label span {
    display: block;
    line-height: 1.5;
  }

.file-label:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

/* Style the dropdown container */
.dropdownlist {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    /* margin: 10px; */
}

/* Style the label */
.dropdownlist label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

/* Style the select element */
.dropdownlist select {
    display: block;
    width: 200px; /* Set the width of the dropdown */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    appearance: none; /* Remove default arrow in some browsers */
    -webkit-appearance: none; /* Remove default arrow in Safari */
    background-color: #fff;
}

/* Style the options inside the dropdown */
.dropdownlist option {
    padding: 8px;
    background-color: #fff;
    color: #2d2f31;
}

/* Style the arrow icon */
.dropdownlist .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #2d2f31 transparent transparent;
    pointer-events: none;
}


.mywealthcard-1{

    display:flex;
    flex-direction: column;
    border-radius: 10px;
    /* margin-top:220px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    gap:15px;
    margin-top:40px;
    min-height: 612px;
    padding:34.5px 39px;
    width:912px;
    
}

.mywealth-line-graph{
    height:432px;
    object-fit: cover;
    width:795px;
    /* margin-top:40px; */
    margin-left:50px;
    
}

.assettitle-compo {


    display:flex;
    flex-direction: column;

    margin-top:90px;
    margin-bottom: 25px;
    justify-content: space-between;

} 

.column .asset-compo-chart1,.column .asset-compo-chart2 {

    background-color: #fff;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    height:350px;
    justify-content: space-between;
    row-gap:10px;
    margin-top:30px;
    width:532px;
    margin-left:40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border-color: #222; */

} 




.column .asset-compo{
    height:100px;
    line-height:20px;
    margin-left:26px;
    margin-top:20px;
    /* width:188px; */
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight:600;
    /* min-height: 43px; */
    /* margin-left:20px; */
    

}

.assetcompo-graph1{
    height:260px;
    object-fit: cover;
    margin-top: 21px;
    margin-left:26px;
    margin-bottom: 30px;
    /* width:795px; */
}

.assetcompo-graph2{
    height:260px;
    width:475px;
    object-fit: cover;
    margin-top: 21px;
    margin-left:26px;
    margin-bottom: 30px;
    /* width:795px; */
}




.active.mycover-page,.active.navigation,.active.mywealth-page,.active.myreward-page{
    /* position:relative; */
    left:0.5rem;
    /* margin-left:2rem; */
    pointer-events:fill;
    transition:0.5s;
}


/* Get MyCover page attributes */
.mycover-page{
    position: relative;
    left:-19rem;
    width:100%;
    /* height:100%; */
    padding:20px;
    transition:0.5s;
    display:grid;
    grid-template-columns:repeat(4,minmax(350px,1fr));
    grid-template-rows:0.5fr 3fr 3fr;
    row-gap: 30px;
    column-gap:40px;

}

/* .active.mycover-page{

    left:0.5rem;

    pointer-events:fill;
    transition:0.5s;
} */

.mycover {
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} 

.covertitle{
    position:relative;
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:5;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    /* height:65px; */
    /* flex-wrap:wrap; */
    align-items:flex-start;  
    /* gap:10px; */

}

.covertitle .mycover-title{

    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size: 30px;
    /* top:0; */

}

.covertitle .mycoversubparagraph{
    /* position:absolute; */
    position:absolute;
    top:50px;
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size:20px;
}

.summary{
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:3;
    position:relative;
    top:10px;
    background-color: #eee;
    display:flex;
    flex-direction: column;
    grid-auto-columns: auto;
    /* justify-content: flex-start; */
    /* height:2.8fr; */
    
}

.coversummarytitle{
    color:rgb(0,0,0);
    font-family: 'Open Sans';
    font-size: 30px;
    margin-left:20px;
}


.distribution,.customise,.life,.health{

    position:relative;
    top:10px;
    background-color: #eee;
    display:flex;
    flex-direction: column;
    grid-auto-columns: auto;
    /* height:2.8fr; */
    
}

.distributiontitle, .customisetitle, .lifetitle,.healthtitle{
    color:rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight:lighter;
    font-size: 20px;
    margin-left:15px;
    margin-top:10px;
}


.cover-item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 5px;
    padding: 5px;
    height:50px;
    border-bottom:1px solid rgb(153, 150, 150);
    row-gap:20px;  
}



.itemitem{
    font-size:12px;
    order:1;
}
.itemprice{
    /* position:relative; */
    /* margin-right:3px; */
    font-size:12px;
    order:2;
    position:absolute;
    left:60%
}


h3{
    order:3;
    font-size:10px;
    position:absolute;
    left:73%;
    /* flex-shrink: 2; */


}


.cover-item button, .delete-button {
    font-weight:800;
    font-size:15px;
    cursor: pointer;
    color: #f80707;
    border: none;
    padding: 5px 10px;
    /* border-radius: 5px; */
    order:4;
  }

  .mainclasssummaryplan{
    display:flex;
    list-style: none;
    color:rgb(0, 0, 0);
    font-family: 'Open Sans';
    margin-left:40px; 
    margin-right:40px; 
    font-weight:600;
    font-size: 18px;
    border-bottom:1px solid rgb(153, 150, 150);

  }




  .mainclasssummaryplan li{
    /* display:inline-block; */
    display:flex;
    flex-direction: row;
    width:calc(100%/3);
    height:40px;
    text-align: left;
  }
  
  .mainclasssummaryplan .summaryplan{
    /* margin-right:50px; */
    width:280px;
  }



  .summary-item{
    display:flex;
    flex-direction: row;
    color:rgb(0, 0, 0);
    font-family: 'Open Sans';
    margin-left:40px; 
    margin-right:40px; 
    font-weight:300;
    font-size: 15px;
    border-bottom:2px solid rgb(207, 207, 207);
    padding-bottom:10px;
    align-items: center;
    justify-content: space-between;
    

  }


.item,.category,.price,.yeartext{
    width:calc(100%/5);
    padding-left:40px;
    text-align: left;
  }
  .item{
    width:280px;
  }

  .category { 
    width:170px;
    padding-right:20px;

  }

  .price { 
    width:70px;
  }

  .yeartext { 
    margin-left:10;
    padding:0;
  }


  .sumsummary{
    margin-top:auto;
    margin-bottom:70px;
    margin-left:420px;
    display:flex;
    flex-direction: row;
    /* justify-content: flex-end; */
   }
  

   .sumsummary .totaltext{
    margin-left:55px;
    color:rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight:300;
    font-size: 15px;
    padding-right:10px;


    

}
   .sumsummary .totalsumvalue{
    width:40px;
    align-self:flex-end;
    /* padding-left: 30px; */
    color:rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight:300;
    font-size: 15px;
  
}

.sumsummary .yeartextsum{
    padding-left:20px;
 
}

/* Pie chart of distribution */
.distribution-container{
    width:550px;
    height:600px;
}


/* Path page */

.mypath-page {
    position: relative;
    bottom:8px;
    left: -22.5rem;
    width: 100wh;
    height: 100%;
    /* padding: 20px; */
    transition: 0.3s;


}

.img-container{
    position:relative;
    display:inline-block;
}


.img5{  
    z-index: 1;
    width: 85%; 
    height: 85%;
}

.pin1{
    position:absolute;
    top:33%;
    left:-10%;
    transform:translate(-20%,-20%);
    pointer-events:auto;
    cursor:pointer;
    scale:50%;
}

.pin2 {
    position: absolute;
    top: 33%;
    left: 16%;
    transform: translate(-20%, -20%);
    pointer-events: auto;
    cursor: pointer;
    scale: 50%;
}

.pin3 {
    position: absolute;
    top: 6%;
    left: 40%;
    transform: translate(-20%, -20%);
    pointer-events: auto;
    cursor: pointer;
    scale: 50%;
}

.pin4 {
    position: absolute;
    top: -20%;
    left: 30%;
    transform: translate(-20%, -20%);
    pointer-events: auto;
    cursor: pointer;
    scale: 50%;
}

.bottombutton {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-20%, -20%);
    pointer-events: auto;
    cursor: pointer;


}

.bottomclick{
    width:200px;
    height:40px;
    color:white;
    background-color: #f80707;
    border-width:0;
    border-radius:10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
}

.bottomclick:hover {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.bottommessage-content li{
    list-style-type: none;
}

.textcontainer{
    display:flex;
    flex-direction:column;
    position: absolute;
    top: 20%;
    left: 50%;
}
.textpin{

    transform:translate(-50%,-50%);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    /* order:1; */
}

.pinimage1{
    position: absolute;
    top: 25%;
    left: 32%;
    scale:30%;
    transform: translate(-50%, -50%)
}

.active.mypath-page {
    left: -0.9rem;
    pointer-events: fill;
    transition: 0.3s;
}

.message-box,.bottommessagecontainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    
}

.message-content, .bottommessage-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.message-content h2 {

    margin-bottom:10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 25px;
}

.message-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* scale:70%; */

}

.message-content p {

    text-align: justify;
    text-justify: inter-word;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
}


/* For page Reward */
.myreward-page {
    position: relative;
    left: -19rem;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows:0.5fr 2fr 3fr 3fr;
    row-gap: 10px;
    column-gap: 30px;

}

.rewardtitle {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 10px;
    
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    /* justify-content: left; */
    /* margin:0; */


}
.rewardtitle .myreward-title {

    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 30px;


}

.rewardtitle .myrewardsubparagraph {

    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 20px;
    
}



.point {
    margin:0;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
    height:130px;
    width:220px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    /* bottom:20px; */
}

.rewardpointtitle {
    padding-left:20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 20px;
}

.rewardpointvalue {
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 30px;
    text-align: center;
    /* padding-bottom:20px; */
}

.cashwallet{
   position:relative;
   padding-top:20px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom:10px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding-right: 20px;
    display:flex;
    flex-direction: column;

}

.cashwalletheader {
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:20px;
    align-items: center;

}

.depositbutton,.withdrawbutton {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #f80707;
    border-width: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
}

.depositbutton:hover,.withdrawbutton:hover, .voucher-item button:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.redeem-voucher {
    position: relative;
    padding-top: 10px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    margin-bottom: 10px;
    background-color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding-right: 20px;

}

.redeemtitle {
    padding-left:20px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 20px;

}


.redeemtitle {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}

.voucher-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid rgb(153, 150, 150);
    row-gap: 20px;
    
}

.voucheritem {
    font-size: 15px;
    order: 1;
    margin-left: 15px;
}

.voucherprice {
    /* position:relative; */
    /* margin-right:3px; */
    font-size: 12px;
    order: 2;
    position: absolute;
    left: 60%
}




.voucher-item button {
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    background-color: #f80707;
    color:white;
    border: none;
    width:100px;
    padding: 5px 10px;
    border-radius: 5px;
    order: 4;
}

.cashwalletgraph{
    align-items: center;
    margin-bottom:40px;
    scale:80%;
}


.redeemcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.redeemcontent img{
        display: block;
        margin-top:0px;
        padding-top:0;
        max-width: 80%;
        scale: 50%;

}
.redeemcontent h2{
    text-align: center;
}

.depositmessage-box,.withdrawmessage-box {
    position: absolute;
    transform: translateY(300px) translateX(550px);
    /* transform: translateX(400px); */
    display: none;
    /* flex-direction:column; */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
}

/* .depositmessage-box .amount-deposit {
    width:300px;
    background-color: #fff;
} */

.depositmessage-box .deposit-confirm-button {
    font-weight: 400;
        font-size: 15px;
        cursor: pointer;
        background-color: #07f888;
        color: white;
        border: none;
        width: 100px;
        padding: 5px 10px;
        border-radius: 5px;
        order: 4;
}

.withdrawmessage-box .withdraw-confirm-button {
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    background-color: #f807f4;
    color: white;
    border: none;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    order: 4;
}

.cashwallet #linechartcashwallet{
   padding-top:10px;
   padding-left: 30px;
}